# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# SQLlite3 DB files
*.sqlite3

# Log outputs
*.log

# IDE
.vscode

# Dependency directories (remove the comment below to include it)
vendor/
webhook-broker
dist/
docs/tech-specs/basic-spec-spikes/basic-spec-spikes
