services:
  mysql8:
    image: mysql:8
    container_name: mysql8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: webhook-broker
      MYSQL_USER: webhook_broker
      MYSQL_PASSWORD: zxc909zxc
    ports:
      - "45060:3306"
    healthcheck:
      test: ["CMD", "mysql","-h", "localhost", "-u", "root", "-proot", "-e", "SELECT 1"]
      interval: 30s
      timeout: 20s
      retries: 10
      start_period: 20s
    networks:
      brokeritest:
        aliases:
          - "mysql8"
          - "mysql"


  ibroker:
    build: .
    container_name: ibroker
    volumes:
      - ./webhook-broker-integration-test.cfg:/webhook-broker.cfg
    command: ["./webhook-broker", "-migrate", "./migration/sqls/"]
    depends_on:
      mysql8:
        condition: service_healthy
    ports:
      - "31818:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/_status"]
      interval: 5s
      timeout: 10s
      retries: 20
      start_period: 10s
    networks:
      brokeritest:
        aliases:
          - "webhook-broker"
  
  ipruner:
    build:
      context: .
      dockerfile: ./integration-test/prune-integration-test.Dockerfile
    container_name: ipruner
    volumes:
      - ./webhook-broker-integration-test.cfg:/webhook-broker.cfg
      - ./integration-test/config/prune/nginx.conf:/etc/nginx/nginx.conf
      - ./integration-test/config/prune/file_browser_nginx.conf:/etc/nginx/http.d/file_browser.conf
      - ./integration-test/config/prune/runner.sh:/runner.sh
    depends_on:
      ibroker:
        condition: service_healthy
    ports:
      - "30080:80"
    networks:
      brokeritest:
        aliases:
          - "webhook-broker-pruner"

  tester:
    build: integration-test/.
    container_name: tester
    command: ["make", "run"]
    depends_on:
      ibroker:
        condition: service_healthy
      ipruner:
        condition: service_started
    networks:
      brokeritest:
        aliases:
          - "tester"

networks:
  brokeritest:
