# This is the default configuration to be used even if none supplied

[database]
dialect=mysql
connection-url=webhook_broker:zxc909zxc@tcp(mysql:3306)/webhook-broker?charset=utf8&parseTime=True
connxn-max-idle-time-seconds=0
connxn-max-lifetime-seconds=0
max-idle-connxns=30
max-open-connxns=100

[http]
listener=:8080
read-timeout=240
write-timeout=240

[log]
filename=/var/log/webhook-broker.log
max-file-size-in-mb=200
max-backups=3
max-age-in-days=28
compress-backups=true
