name: Helm Build

on:
  push:
    branches: [ main ]
    paths:
    - 'deploy-pkg/webhook-broker-chart/**'
  pull_request:
    branches: [ main ]
    paths:
    - 'deploy-pkg/webhook-broker-chart/**'

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: azure/setup-helm@v3
    - run: helm lint
      working-directory: deploy-pkg/webhook-broker-chart/

  deploy:

    if: github.event_name == 'push'

    needs: [ build ]

    runs-on: ubuntu-latest

    steps:
    - 
      name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        role-to-assume: ${{ secrets.AWS_PUBLIC_ECR_HELM_IAM_ROLE }}
        aws-region: us-east-1

    - uses: actions/checkout@v2

    - uses: azure/setup-helm@v3

    - name: Install Helm S3 Plugin
      run: helm plugin install https://github.com/hypnoglow/helm-s3.git

    - name: Init helm repo
      run: helm s3 init s3://optimizely-helm-charts/public/stable

    - name: Setup optimizely-helm-charts Helm Repo
      run: helm repo add optimizely-helm-charts s3://optimizely-helm-charts/public/stable

    - name: Build Helm Package
      working-directory: deploy-pkg/webhook-broker-chart/
      run: helm package ./

    - name: Push to Helm Repo
      working-directory: deploy-pkg/webhook-broker-chart/
      run: helm s3 push --force --relative ./webhook-broker-chart-*.tgz optimizely-helm-charts
