name: Webhook Broker Release Containers

on:
  push:
    tags:
      - 'v*'

jobs:
  docker_containers:
    name: Docker Container Release

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    -
      name: Set up QEMU
      id: qemu
      uses: docker/setup-qemu-action@v1
      with:
        image: tonistiigi/binfmt:latest
        platforms: all

    -
      name: Available platforms
      run: echo ${{ steps.qemu.outputs.platforms }}

    -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

    -
      uses: docker/login-action@v1
      name: Login to DockerHub
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    -
      uses: docker/login-action@v1
      name: Login to Github Docker Registry
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.CR_PAT }}

    - name: Get the version
      id: get_version
      run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}

    -
      uses: docker/build-push-action@v2
      name: Push
      id: build_push
      with:
        push: true
        platforms: linux/amd64,linux/arm64
        tags: |
          imyousuf/webhook-broker:${{ steps.get_version.outputs.VERSION }}
          ghcr.io/imyousuf/webhook-broker:${{ steps.get_version.outputs.VERSION }}
